<a href="https://colab.research.google.com/github/ins2847/test-/blob/main/R_prac_ipynb%EC%9D%98_%EC%82%AC%EB%B3%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
library(tidyverse)

Warning message in system("timedatectl", intern = TRUE):
“running command 'timedatectl' had status 1”
── Attaching packages ─────────────────────────────────────── tidyverse 1.3.1 ──

✔ ggplot2 3.3.5     ✔ purrr   0.3.4
✔ tibble  3.1.3     ✔ dplyr   1.0.7
✔ tidyr   1.1.3     ✔ stringr 1.4.0
✔ readr   2.0.1     ✔ forcats 0.5.1

── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

In [2]:
1+1

[1] 2

In [3]:
a=c(1,2,3,4)

# Google Drive data file 연동

[파일 권한 설정 필요]


파일 우클릭>get link>-----file/d/ i------d/view
id 부분 복사

system("gdown --id i------d ")

밑에 코드 예제 iris.csv

In [8]:
system("gdown --id 1QcooGGzINZJYdJz48fiRFuReGorNs06B")

In [9]:
data=read.csv("iris.csv")

In [10]:
head(data)

  sepal.length sepal.width petal.length petal.width variety
1 5.1          3.5         1.4          0.2         Setosa
2 4.9          3.0         1.4          0.2         Setosa
3 4.7          3.2         1.3          0.2         Setosa
4 4.6          3.1         1.5          0.2         Setosa
5 5.0          3.6         1.4          0.2         Setosa
6 5.4          3.9         1.7          0.4         Setosa